* {
  -webkit-font-smoothing: antialiased;
  margin: 0 0 0 0;
  padding: 0 0 0 0;
}

body {
  background-color: #ddd;
}

::-webkit-scrollbar {
  display: none;
}

:root {
  --ebay-red: #e53238;
  --ebay-blue: #0064d2;
  --ebay-yellow: #f5af02;
  --ebay-green: #86b817;
}

xr {color: var(--ebay-red);}
xb {color: var(--ebay-blue);}
xy {color: var(--ebay-yellow);}
xg {color: var(--ebay-green);}

.wrapper {
  margin-top: 10vh;
  height: 110vh;
  width: auto;
  background-color: #ddd;
  color: #141414;
}

.header-overlay {
  width: 100vw;
  height: 10vh;
  position: fixed;
  top: 0vh;
  left: 0vw;
  background-color: #141414;
  opacity: 0.7;
  z-index: 999;
}
.header-overlay h1 {
  position: relative;
  top: -2vh;
  font-family: "Noto Sans", sans-serif;
  font-size: 5vh;
  text-align: center;
  color: #f0f0f0;
  vertical-align: center;
}

.front-image {
  width: 100vw;
}
.front-image-overlay-title {
  width: 40vw;
  position: relative;
  top: -100vh;
  left: 30vw;
  height: auto;
  vertical-align: middle;
  background: linear-gradient(rgba(230, 100, 100, 0.85), rgba(145, 150, 230, 0.85));
}
.front-image-overlay-title h2 {
  font-family: "Ubuntu", sans-serif;
  font-size: 7.5vh;
  text-align: center;
  color: #f0f0f0;
  vertical-align: center;
}
.front-image-overlay-stuff {
  width: 45vw;
  position: relative;
  top: -95vh;
  left: 27.5vw;
  font-family: "Ubuntu", sans-serif;
  font-size: 3vh;
  color: #f4f4f4;
}
.front-image-overlay-stuff ul {
  list-style-type: none;
}
.front-image-overlay-stuff li {
  margin-bottom: 3vh;
}
.front-image-overlay-stuff small {
  text-align: center;
  font-size: 1.5vh;
}
.front-image img {
  position: relative;
  min-height: 120vh;
  max-height: 120vh;
  width: 100%;
  height: auto;
  top: -10vh;
  object-fit: cover;
  overflow: hidden;
}

.arrow {
	position: absolute;
  left: 49%;
  bottom: -10vh;
	display: block;
	text-align: center;
	font-size: 3vmin;
	width: 3vmin;
	height: 3vmin;
	border-bottom: 0.2vmax solid #fff;
	border-right: 0.2vmax solid #fff;
	transform: translate(-50%, 0%) rotate(45deg);
	animation: fade_move_down 2s ease-in-out infinite;
}

@keyframes fade_move_down {
  0% {
    transform:translate(0, -10px) rotate(45deg);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform:translate(0, 10px) rotate(45deg);
    opacity: 0;
  }
}

.wrapper-2 {
  height: 53.5vh;
  width: auto;
  background: linear-gradient(135deg, #fec180 0%, #ff8993 100%); 
  color: #141414;
}

.lower-info {
  width: 40vw;
  position: relative;
  left: 31vw;
  height: 50%;
  top: 25%;
  vertical-align: middle;
  font-family: "Ubuntu", sans-serif;
  font-size: 7vmin;
  text-align: center;
  color: #f0f0f0;
}

.login-sub {
  width: 100%;
  margin: 22px;
  float: none;
  text-align: center;
}

a {
  text-decoration: none;
  color: #fff;
}

a:hover {
  color: #2ecc71;
}

.login-button {
  position: relative;
  border-radius: 4px;
  font-family: "Noto Sans", sans-serif;
  background-color: var(--ebay-blue);
  border: none;
  padding: 10px;
  width: 30vmax;
  font-size: 3vh;
  transition: all 0.5s;
  color: #fff;
  text-align: center;
}

.login-button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.login-button span:after {
  content: '»';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -40px;
  transition: 0.5s;
}

.login-button:hover span {
  padding-right: 25px;
  color: #2ecc71;
}

.login-button:hover span:after {
  opacity: 1;
  right: 0;
}


.authacc-wrapper {
  margin-top: 10vh;
  height: 110vh;
  width: auto;
  background-color: #282b30;
  color: #141414;
}

.authacc-wrapper .authacc-header-overlay {
  width: 100vw;
  height: 10vh;
  position: fixed;
  top: 0vh;
  left: 0vw;
  background-color: #141414;
  opacity: 0.7;
  z-index: 999;
}
.authacc-wrapper .authacc-header-overlay h1 {
  position: relative;
  top: -2vh;
  font-family: "Noto Sans", sans-serif;
  font-size: 5vh;
  text-align: center;
  color: #f0f0f0;
  vertical-align: center;
}

.authacc-wrapper-2 {
  padding-top: 3vh;
  height: auto;
  min-height: 50vh;
  width: 100vw;
  background: linear-gradient(135deg, #eee 0%, #bbb 100%); 
  color: #141414;
}

.noto {
  font-family: "Noto Sans", sans-serif;
}

.search-wrap {
  position: relative;
  width: 70vw;
  height: 10vh;
  margin: 0 auto;
}

.search-label {
  font-family: "Noto Sans", sans-serif;
  position: absolute;
  left: 1vw;
  top: 0.3vh;
  font-size: 5vh;
  color: #a0a0a0;
  transition: all 0.25s ease;
  pointer-events: none;
}

.focus {
  font-family: "Noto Sans", sans-serif;
  top: -2vh;
  left: 0vw;
  font-size: 2vh;
  color: #555;
  pointer-events: none;
}

.search-box {
  position: relative;
  display: block;
  width: 70vw;
  margin-top: 8vh;
  padding: 15px;
  border: none;
  border-radius: 5px;
  font-size: 4vh;
  color: #141414;
  outline: none;
}

.search-num {
  margin-top: 2vh;
  position: relative;
  display: block;
  width: 5vw;
  left: 60vw;
  border: none;
  border-radius: 5px;
  font-size: 3vh;
  color: #141414;
}

.search-num-desc {
  position: relative;
  left: 60vw;
  top: 2vh;
  font-size: 2vh;
}

.auc-flex-main {
  padding: 1vh;
  position: relative;
  height: auto;
  min-height: 15vh;
  width: 80%;
  left: 10%;
  margin-top: 3%;
  background: #ddd;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  border: none;
  border-radius: 2vh;
}

.auc-auctionview {
  position: relative;
  height: auto;
  min-height: 15vh;
  width: 95%;
  left: 2.5%;
  background: #eee;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.auc-img {
  margin-right: 1vw;
  position: relative;
  height: 100%;
  width: auto;
}

.auc-img img {
  position: relative;
  min-width: 100%;
  min-height: 15vh;
  object-fit: cover;
}

.auc-title-holder {
  margin-right: 1vw;
  flex-grow: 100;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.auc-title {
  font-size: 3.1vh;
  text-align: center;
}

.auc-title2 {
  font-size: 2vh;
  text-align: center;
}

.auc-sell-holder {
  flex-basis: 17%;
  flex-shrink: 0;
  margin-right: 1vw;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.auc-sell-type {
  font-size: 2vh;
}

.auc-seller {
  font-size: 2.7vh;
}

.auc-price-holder {
  flex-basis: 17%;
  flex-shrink: 0;
  margin-right: 1vw;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.auc-price {
  font-size: 2.7vh;
}

.auc-shipping {
  font-size: 2vh
}

.authacc-auth-test {
  width: 80vmin;
  height: 80vmin;
  top: 10vmin;
  position: relative;
  left: calc(50% - 40vmin);
}

.authacc-auth-test img {
  position: relative;
  width: 40vmin;
  height: auto;
  left: calc(50% - 20vmin);
}
.authacc-auth-test h2 {
  position: relative;
  text-align: center;
  color: #ccc;
}

.authacc-auth-test x {
  color: #fff;
}

.authacc-auth-test h4 {
  position: relative;
  text-align: center;
  color: #ccc;
  font-size: 1.5vmin;
  overflow-wrap: break-word;
}

.log-wrapper {
  margin-top: 10vh;
  height: 110vh;
  width: auto;
  background-color: #282b30;
  color: #141414;
}

.log-wrap {
  position: relative;
  width: 70vw;
  height: 10vh;
  margin: 0 auto;
}

.log-label {
  font-family: "Noto Sans", sans-serif;
  position: relative;
  left: -26vw;
  top: 0vh;
  font-size: 3.5vh;
  color: #a0a0a0;
  transition: all 0.25s ease;
  pointer-events: none;
}

.log-focus {
  font-family: "Noto Sans", sans-serif;
  top: -7vh;
  font-size: 2vh;
  color: #ddd;
  pointer-events: none;
}

.log-box {
  position: relative;
  display: inline-block;
  width: 40vw;
  left: 15vw;
  margin-top: 8vh;
  padding: 15px;
  border: none;
  border-radius: 5px;
  font-size: 4vh;
  color: #141414;
  outline: none;
}

.log-sub {
  width: 100%;
  margin: 22px;
  float: none;
  text-align: center;
}

.log-reg-button {
  display: inline-block;
  right: 1vw;
}

.log-log-button {
  display: inline;
}

.log-button {
  position: relative;
  border-radius: 4px;
  font-family: "Noto Sans", sans-serif;
  background-color: var(--ebay-blue);
  border: none;
  padding: 10px;
  width: 20vw;
  font-size: 2.4vh;
  transition: all 0.5s;
  color: #fff;
  text-align: center;
}

.log-button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.log-button span:after {
  content: '»';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -40px;
  transition: 0.5s;
}

.log-button:hover span {
  padding-right: 25px;
  color: #2ecc71;
}

.log-button:hover span:after {
  opacity: 1;
  right: 0;
}

.log-status-wrap {
  width: 100vw;
}

.log-status {
  font-family: "Noto Sans", sans-serif;
  position: relative;
  text-align: center;
  display: block;
  top: 0vh;
  font-size: 3.5vh;
  transition: all 0.25s ease;
  pointer-events: none;
}

.profile-wrapper {
  margin-top: 10vh;
  height: 110vh;
  width: auto;
  background-color: #ddd;
  color: #141414;
}

.profile-master-holder {
  position: relative;
  width: 80vw;
  height: auto;
  min-height: 100vh;
  left: 10vw;
  top: 10vh;
  background-color: #eee;
  border: none;
  border-radius: 1vw;
  padding: 3vw;
}

.profile-inside-header {
  font-family: "Noto Sans", sans-serif;
  position: relative;
  width: 100%;
  background-color: #eee;
  padding: 1vh;
  display: flex;
  align-items: baseline;
  justify-content: center;
}

.profile-inside-header img {
  align-self: flex-start;
}

.profile-inside-header y {
  font-size: 7vh;
  margin-left: 1vw;
  margin-top: 3vh;
}
.profile-inside-header z {
  font-size: 3vh;
  margin-left: 1vw;
  margin-top: 3vh;
}

.profile-inside-header-quick-links {
  font-family: "Noto Sans", sans-serif;
  font-size: 3vh;
  align-self: center;
  margin-left: 10vw;

}

.profile-inside-header-quick-links a {
  color: #2ecc71;
  font-size: 2vh;
}

.profile-spacer {
  width: 100%;
  height: 10vh;
}

.profile-tabs {
  position: relative;
  top: 5vh;
  width: 80%;
  left: 11.25%;
}

.profile-watch-button {
  display: inline-block;
}

.profile-ignore-button {
  display: inline;
}

.profile-button {
  position: relative;
  border-radius: 4px;
  font-family: "Noto Sans", sans-serif;
  background-color: #aaa;
  border: none;
  padding: 10px;
  width: 49%;
  font-size: 2.4vh;
  transition: all 0.5s;
  color: #666;
  text-align: center;
}

.profile-button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.profile-button span:after {
  position: absolute;
  opacity: 0;
  top: 0;
  transition: 0.5s;
}

.profile-button:hover span {
  color: #2ecc71;
}

.profile-button:hover span:after {
  opacity: 1;
}

.profile-active-button {
  background-color: #ddd;
  color: #000;
}